<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>



<p> :</p>
<button type="button" class="collapsible">Part A - General</button>
<div class="content">



<button type="button" class="collapsible">Regula 1 - Domeniul de aplicare</button>
<div class="content">
    <p>a)	Prezentele reguli se aplica tuturor navelor aflate in largul marii si pe toate apele invecinate accesibile navelor maritime.

        b)	Nici o dispozitie a prezentelor reguli nu trebuie sa impiedice aplicarea unor prescriptii speciale, stabilite de catre autoritatea competenta, cu privire la navigatia in rade, porturi, pe fluvii, lacuri sau caile de navigatie interioara comunicand cu marea si accesibile navelor maritime. Asemenea prescriptii speciale trebuie sa fie cat mai conforme posibil cu prezentele reguli.

        c)	Nici o dispozitie din prezentele reguli nu trebuie sa impiedice aplicarea unor prescriptii speciale stabilite de guvernul unui stat cu privire la marirea numarului luminilor de pozitie, a semnalelor luminoase, a semnelor sau semnalelor cu fluierul de utilizat de catre navele de razboi si navele in convoi, sau in vederea maririi numarului luminilor de pozitie, a semnelor ori a semnalelor luminoase de folosit de catre navele ce pescuiesc alcatuind o flota de pescuit. Aceste lumini de pozitie, semnalele suplimentare luminoase sau cu fluierul trebuie, in masura posibilului, sa fie astfel incat sa faca imposibila confundarea lor cu orice alta lumina, semn sau semnal autorizat in oricare din prezentele reguli.

        d)	Organizatia poate adopta scheme de separare a traficului in intelesul prezentelor reguli.

        e)	Ori de cate ori un guvern considera ca o nava de constructie speciala sau destinata unor operatiuni speciale, nu se poate conforma tuturor dispozitiilor vreuneia din prezentele reguli, in ceea ce priveste numarul, amplasarea, bataia sau sectorul de vizibilitate a luminilor si semnelor, ca si pozitia si caracteristicile dispozitivelor de semnalizare sonora, aceasta nava trebuie sa se conformeze altor asemenea dispozitii ce se refera la numar, amplasare, bataie sau sectorul de vizibilitate a luminilor sau semnelor, cat si la pozitia si caracteristicile dispozitivelor de semnalizare sonora, care dupa aprecierea guvernului interesat permit in aceste cazuri sa se conformeze cat mai mult posibil prezentelor reguli.

    </p>
</div>
<button type="button" class="collapsible">Regula 2 - Responsabilitati</button>
<div class="content">
    <p>a)	Nici una din dispozitiile prezentelor reguli nu scuteste nava sau pe proprietarul ei, pe comandantul sau echipajul sau de consecintele unei neglijente oarecare, atat in ceea ce priveste aplicarea prezentelor reguli, cat si in ceea ce priveste luarea oricaror masuri de prevedere cerute de o buna practica marinareasca sau de imprejurarile deosebite in care se gasesta nava.

        b)	In interpretarea si aplicarea prezentelor reguli se va tine seama in mod deosebit de toate pericolele de navigatie si de riscurile de coliziune, precum si de toate imprejurarile in special in limitele de folosire a navelor in cauza care pot duce la abateri de la prevederile prezentelor reguli pentru evitarea unui pericol imediat.</p>
</div>
<button type="button" class="collapsible">Regula 3 - Definitii generale</button>
<div class="content">
    <p>
        <em>For the purpose of these Rules, except where the context otherwise requires:</em>

        a)	Termenul "nava" inseamna orice constructie sau orice aparat de orice natura ar fi, inclusiv constructiile fara pescaj si hidroavioanele, folosita sau susceptibila de a fi folosita ca mijloc de transport pe apa.

        b)	Expresia "nava cu propulsie mecanica", inseamna orice nava pusa in miscare de catre o masina.

        c)	Expresia "nava cu vele", inseamna orice nava care naviga cu vele, chiar daca are o masina cu propulsie, cu conditia ca aceasta sa nu fie folosita.

        d)	Expresia "nava care pescuieste", inseamna orice nava care pescuieste cu plasa, carmace, traule, sau orice alte scule de pescuit, care ii reduc capacitatea de manevra, dar nu se aplica navelor care pescuiesc cu carlige remorcate sau cu alte scule de pescuit care nu le reduc capacitatea de manevra.

        e)	Termenul "hidroavion" inseamna orice aeronava conceputa sa manevreze pe apa.

        f)	Expresia "nava care nu este stapana pe manevra sa" inseamna o nava care, din cauza unor imprejurari exceptionale, nu este in masura sa manevreze conform prezentelor reguli si deci nu poate sa se indeparteze din drumul altei nave.

        g)	Expresia "nava cu capacitate de manevra redusa" inseamna o nava a carei capacitate de a manevra conform prezentelor reguli este limitata prin natura lucrarilor sale, si care in consecinta, nu se poate indeparta din drumul altei nave.Expresia "nava cu capacitate de manevra redusa" trebuie sa includa urmatoarele nave, fara a se limita numai la ele:

        i)	navele ocupate cu punerea, scoaterea sau intretinerea unui reper de navigatie, a unui cablu sau a unei conducte submarine;

        ii)	navele in curs de a executa operatiuni de dragaj, ridicari hidrografice sau oceanografice, ori lucrari sub apa;

        iii)	navele care aflandu-se in mars fac alimentare cu combustibil sau transbord de persoane, provizii sau marfa;

        iv)	 navele in curs de a efectua operatiuni de decolare, sau recuperare de aeronave;

        v)	navele in curs de a efectua operatiuni de decolare, sau recuperare de aeronave;

        vi)	navele in curs de a executa operatiuni de rermorcare, care prin natura lor permit cu greutate remorcherului si remorcii sale sa-si modifice drumul.

        h)	Expresia "nava stanjenita de pescajul sau" inseamna orice nava cu propulsie mecanica, care din cauza pescajului sau/si adancimea apei sub chila poate sa-si modifice cu greu drumul.

        i)	Expresia "in mars" se aplica oricarei nave care nu este nici la ancora, nici legata la mal, nici esuata.

        j)	Termenii "lungimea si latimea unei nave" inseamna lungimea si latimea maxima.

        k)	Doua nave sunt considerate ca fiind in vedere, numai cand una din ele poate fi observata de cealalta vizual.

        l)	Expresia "vizibilitate redusa" inseamna orice situatie in care vizibilitatea este redusa din cauza cetii, burnitei, ninsorii, averselor puternice de ploaie sau a furtunilor de nisip, ori din orice alte cauze asemanatoare.

        m)	The term "Wing-In-Ground (WIG) craft" means a multimodal craft which, in its main operational mode, flies in close proximity to the surface by utilizing surface-effect action. </p>
</div>
</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</body>
</html>
