<!DOCTYPE html>
<html lang="RO">
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Licenta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src=../static/logo.jpg alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <l class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Studiu R.I.P.A.M</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Teste R.I.P.A.M</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Suplimente</a>
        </li>
        <div>

            <button class="btn btn-primary  "><a href="../templates/add-user.html"> Sign In </a> </button>

        </div>
    </l>
</nav>

<div class="container-fluid">
    <h3 CLASS="display-3" class="html-editor-align-left">R.I.P.A.M</h3>
</div>

</body>
</html>